<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{{title}}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" rel="icon">
    <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="../static/assets/css/richtext.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <!-- =======================================================
  * Template Name: Arsha - v4.5.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="/">Klik Jempol</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="../static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#tools">Getting Started</a></li>
                    <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li><a class="nav-link scrollto" href="{{url_for('login')}}">Admin Access</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                    data-aos="fade-up" data-aos-delay="200">
                    <h1>KLIK JEMPOL</h1>
                    <h2>Kinerja Layanan Informasi Terkini dengan Jemput Bola</h2>
                    <h2>BPS Provinsi Sumatera Selatan</h2>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="#tools" class="btn-get-started scrollto">Get Started</a>
                        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i
                                class="bi bi-play-circle"></i><span>Watch Video</span></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="../static/assets/img/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About Us</h2>
                </div>

                <div class="row content">
                    <div class="col-lg-6 text-justify">
                        <p style="text-align: justify;">
                            <strong>KLIK JEMPOL</strong>
                            merupakan bentuk Inovasi BPS Provinsi Sumatera Selatan untuk meningkatkan kualitas pelayanan
                            dengan memberikan informasi terkini mengenai produk BPS Provinsi Sumatera Selatan kepada
                            para konsumen data.
                        </p>
                        <p>
                            Data/informasi yang akan diterima dari layanan KLIK JEMPOL antara lain:
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Softcopy publikasi</li>
                            <li><i class="ri-check-double-line"></i> Tabel data</li>
                            <li><i class="ri-check-double-line"></i> Unsur kegiatan</li>
                            <li><i class="ri-check-double-line"></i> Berita</li>
                            <li><i class="ri-check-double-line"></i> etc.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p style="text-align: justify;">
                            Untuk menerima layanan KLIK JEMPOL dari kami Bapak/Ibu harus bersedia menerima dan
                            memperoleh secara terus-menerus informasi terkini terkait data statistik, dengan melakukan
                            pendaftaran dengan mengisi form yang disediakan. <strong>Layanan ini tidak dipungut biaya
                                (gratis).</strong>
                        </p>
                        <a href="#tools" class="btn-learn-more">Get Started</a>
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->

        <!-- ======= Tools Section ======= -->
        <section id="tools" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Getting Started</h2>
                    <p>Untuk mulai menikmati layanan KLIK JEMPOL anda harus melakukan registrasi terlebih dahulu</p>
                </div>

                <div class="card">
                    <!-- add customer -->
                    <div class="row d-flex justify-content-center" id="add-customer">
                        <h3>Register</h3>
                        <!-- register -->
                        <div class="row d-flex justify-content-center" id="registerCustomer">

                            <form id="register-form">
                                <div class="row d-flex align-items-stretch mb-2">
                                    <div class="form-group col-md-6">
                                        <label class="text-muted" for="name">Nama</label>
                                        <input type="text" name="name" class="form-control" id="name" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="text-muted" for="radioJk">Jenis Kelamin</label>
                                        <div class="form-control-plaintext align-middle">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="radioJk"
                                                    id="radioJk1" value="L" required>
                                                <label class="form-check-label" for="radioJk1">Laki-laki</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="radioJk"
                                                    id="radioJk2" value="P">
                                                <label class="form-check-label" for="radioJk2">Perempuan</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row d-flex align-items-stretch mb-2">
                                    <div class="form-group col-md-4">
                                        <label class="text-muted" for="tempat-lahir">Tempat Lahir</label>
                                        <input type="text" name="tempat_lahir" class="form-control" id="tempat_lahir"
                                            required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="text-muted" for="name">Tanggal Lahir</label>
                                        <div class="input-group">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input placeholder="yyyy-mm-dd" type="text" name="tgl_lahir"
                                                class="form-control datedropper" id="tgl_lahir" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="text-muted" for="name">Pendidikan</label>
                                        <select class="form-control form-select" name="pendidikan" id="pendidikan"
                                            required>
                                            <option value="" selected disabled>Pilih Tingkat Pendidikan</option>
                                            {% for p in pendidikan %}
                                            <option value="{{ p.id_pendidikan }}">{{ p.tingkat_pendidikan }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>

                                <div class="row d-flex align-items-stretch mb-2">

                                    <div class="form-group col-md-4">
                                        <label class="text-muted" for="name">Jenis Pekerjaan</label>
                                        <select class="form-control form-select" name="j_pekerjaan" id="j_pekerjaan"
                                            required>
                                            <option value="" selected disabled>Pilih Jenis Pekerjaan</option>
                                            {% for pekerjaan in jenis_pekerjaan %}
                                            <option value="{{pekerjaan.id_pekerjaan}}">
                                                {{pekerjaan.jenis_pekerjaan}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="text-muted" for="name">Pekerjaan</label>
                                        <input type="text" name="pekerjaan" class="form-control" id="pekerjaan"
                                            required>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="text-muted" for="name">Instansi</label>
                                        <input type="text" name="instansi" class="form-control" id="instansi">
                                    </div>

                                </div>

                                <div class="row d-flex align-items-stretch mb-2">
                                    <div class="form-group col-md-6">
                                        <label class="text-muted" for="email">Email</label>
                                        <div class="input-group">
                                            <span class="input-group-text">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                            <input type="text" name="email" class="form-control" id="email" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="text-muted" for="name">Nomor Hp/Whatsaap</label>
                                        <div class="input-group">
                                            <span class="input-group-text">
                                                <i class="fa fa-phone"></i>
                                            </span>
                                            <input type="text" name="phone" class="form-control" id="phone" required,
                                                minlength="10" , maxlength="14">
                                            <input type="text" name="phone-val" class="form-control" id="phone-val"
                                                style="display: none;">
                                        </div>
                                    </div>
                                </div>

                                <div class="row d-flex align-items-stretch mb-2">
                                    <label class="text-muted mt-2"><strong>Keterangan Domisili
                                            :</strong></label>
                                    <div class="form-group col-md-6">
                                        <label class="text-muted" for="name">Provinsi</label>
                                        <select class="form-control form-select" name="dom_prov" id="dom_prov" required>
                                            <option value="" selected disabled>Pilih Provinsi</option>
                                            {% for prov in provinsi %}
                                            <option value="{{ prov.kode_prov }}">{{ prov.nama_prov }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="text-muted" for="name">Kabupaten/Kota</label>
                                        <select class="form-control form-select" name="dom_kab" id="dom_kab" required>
                                            <option value="" selected disabled>Pilih Kabupaten/Kota</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="row d-flex align-items-stretch mb-2">
                                    <div class="form-group col-md-12">
                                        <label class="text-muted" for="name">Alamat</label>
                                        <textarea name="alamat" class="form-control" id="alamat" required
                                            rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="row d-flex align-items-stretch mb-2">
                                    <div class="col-md-12">
                                        <div class="alert alert-info" role="alert">
                                            <h4 class="alert-heading">Persetujuan</h4>
                                            <hr>
                                            <p>
                                                Saya bersedia untuk menerima dan memperoleh secara terus-menerus
                                                informasi terkini terkait data statistik berupa softcopy
                                                publikasi, tabel data, unsur kegiatan, berita, dll. Layanan ini
                                                tidak dipungut biaya (gratis).
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex align-items-stretch mb-2">
                                    <div class="col-auto">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="persetujuan"
                                                name="persetujuan" required>
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Saya setuju
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center mb-2">
                                    <div class="col-auto">
                                        <button id="btn-register" class="button-primary">Submit</button>
                                    </div>
                                </div>

                                <div class="row d-flex justify-content-center mb-2" id="errorMsg">

                                </div>
                            </form>

                        </div>
                    </div>



                </div>
            </div>


        </section><!-- End Tools Section -->

        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Frequently Asked Questions</h2>
                    <p>Berikut ini merupakan daftar pertanyaan terkait dengan KLIK JEMPOL</p>
                </div>

                <div class="faq-list">
                    <ul>
                        {%for f in faq%}
                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapsed"
                                data-bs-target="#faq-list-{{f.id_faq}}">{{f.question}}<i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-{{f.id_faq}}" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    {{f.answer}}
                                </p>
                            </div>
                        </li>
                        {%endfor%}
                    </ul>
                </div>

            </div>
        </section>
        <!-- End Frequently Asked Questions Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Anda dapat mengunjungi kami dan menghubungi kami melalui alamat dan kontak di bawah ini:</p>
                </div>

                <div class="row d-flex justify-content-center">

                    <div class="col-lg-12 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>Jalan Kapten Anwar Sastro No. 1694/1131, Sungai Pangeran, Ilir Timur I, Sungai
                                    Pangeran, Kec. Ilir Tim. I, Kota Palembang, Sumatera Selatan 30114</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>bps1600@bps.go.id
                                    <br>diseminasi1600@bps.go.id
                                </p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>BPS Provinsi Sumatera Selatan : (0711) 351665
                                    <br>Diseminasi dan Layanan Statistik : (08128770725)
                                </p>
                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.441790871244!2d104.74871281475693!3d-2.974821197833436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e3b75dfd4e98b65%3A0x33a20c9d55dd1822!2sBadan%20Pusat%20Statistik%20Provinsi%20Sumatera%20Selatan!5e0!3m2!1sid!2sid!4v1633503350490!5m2!1sid!2sid"
                                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                        </div>

                    </div>

                </div>

            </div>
        </section>
        <!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">

                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row d-flex justify-content-center">

                    <div class="col-lg-6 col-md-6 footer-contact">
                        <h3>BPS Provinsi Sumatera Selatan</h3>
                        <p>
                            Jalan Kapten Anwar Sastro No. 1694/1131, Sungai Pangeran, Ilir Timur I, Sungai
                            Pangeran, Kec. Ilir Tim. I, Kota Palembang, Sumatera Selatan 30114<br><br>
                            <strong>Phone:</strong> (0711) 351665<br>
                            <strong>Email:</strong> bps1600@bps.go.id<br>
                        </p>
                    </div>

                    <div class="col-lg-6 col-md-6 footer-links">
                        <h4>Our Social Networks</h4>
                        <p>Follow us on our social medias:</p>
                        <div class="social-links mt-3">
                            <a href="https://twitter.com/bpssumsel" class="twitter" target="_blank"><i
                                    class="bx bxl-twitter"></i></a>
                            <a href="https://www.facebook.com/bpsprovsumsel/" class="facebook" target="_blank"><i
                                    class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/bpssumsel/" class="instagram" target="_blank"><i
                                    class="bx bxl-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-youtube" target="_blank"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>BPS Provinsi Sumatera Selatan</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->


    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../static/assets/vendor/aos/aos.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>
    <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- jquery validate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>

    <!-- datatables css -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <!-- datatables -->
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>

    <!-- sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.all.min.js"></script>


    <!-- Template Main JS File -->
    <script src="../static/assets/js/main.js"></script>
    <script src="../static/assets/js/jquery.richtext.min.js"></script>
    <script src="../static/assets/js/datedropper.pro.min.js"></script>

    <!-- Details Template Email -->


    <!-- Phone Number -->
    <script>

        // On Register Form
        $('#phone').on("input", function () {
            $("#phone-val").val(destroyMask(this.value));
            this.value = createMask($("#phone-val").val());
        });

        function createMask(string) {
            return string.replace(/(\d{4})(\d{4})(\d{4})/, "$1-$2-$3");
        }

        function destroyMask(string) {
            return string.replace(/\D/g, '').substring(0, 12);
        }
    </script>


    <!-- Upload & Register Form -->
    <script>
        $(document).ready(function () {

            // Datedropper
            $('#add-customer').on('focus', '.datedropper', function () {
                $('.datedropper').dateDropper('destroy');
                $('.datedropper').dateDropper({
                    format: 'Y-m-d',
                    theme: 'blue',
                    large: true,
                    largeDefault: true,
                });
            });

            // Fetching Kabupaten/Kota
            $('#add-customer').on('change', '#dom_prov', function () {
                var kode_prov = $('#dom_prov').val();
                var kabkot = function () {
                    var tmp = null;

                    if (kode_prov != null) {
                        $.ajax({
                            async: false,
                            method: "POST",
                            url: "{{url_for('kabkot')}}",
                            data: {
                                'kode_prov': kode_prov,
                            },
                            success: function (response) {
                                tmp = response;
                            }
                        });
                    }
                    return tmp;
                }();
                var options = '<option value="" selected disabled>Pilih Kabupaten/Kota</option>';
                kabkot.forEach(element => {
                    var op = '<option value="' + element['id_kabkot'] + '">' + element['nama_kabkot'] +
                        '</option>';
                    options += op;
                });

                $('#dom_kab').html(options);
            });

            // register customer
            $('#add-customer').on('submit', '#register-form', function (e) {
                e.preventDefault();
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'center',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                });

                $.ajax({
                    type: 'post',
                    url: '{{url_for("register_customer")}}',
                    data: $('#register-form').serialize(),
                    success: function (response) {
                        if (response == 'success') {
                            Toast.fire({
                                icon: 'success',
                                title: 'Registrasi berhasil'
                            });
                            $('#register-form').reset();
                            setTimeout(function () {
                                location.href = '{{url_for("home")}}';
                            }, 3000);
                        } else {
                            Toast.fire({
                                icon: 'error',
                                title: 'Registrasi gagal'
                            })
                        }

                    }
                });

            });
        });
    </script>

</body>

</html>